ejercicios/biblioteca/biblioteca.dtd

<!ELEMENT biblioteca (libro+)>
<!ELEMENT libro (titulo,edicion,editorial,ISBN,numPags,autores)>
<!ATTLIST libro codigo NMTOKEN #REQUIRED>
<!ATTLIST libro tipo NMTOKEN #IMPLIED>
<!ATTLIST libro otro CDATA #IMPLIED>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT edicion (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT ISBN (#PCDATA)>
<!ELEMENT numPags (#PCDATA)>
<!--<!ELEMENT autores (autor|autora)*>-->
<!ELEMENT autores (autor|autora)+>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT autora (#PCDATA)>